{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <h1>Ajouter un utilisateur</h1>

    <div class="form">
        {{ form_start(registrationForm) }}

        {{ form_widget(registrationForm) }}

        <button type="submit" class="btn">Valider</button>
        {{ form_end(registrationForm) }}
    </div>

{% endblock %}
