{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié{% endblock %}

{% block body %}
    {% for flashError in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    <h1>Reinitialiser votre mot de passe</h1>

    <div>
        <small>
            Entrer votre adresse-mail, nous allons vous envoyer un lien de reinitialisation de votre mot de passe.
        </small>
    </div>

    <form action="{{ path('app_check_email') }}" method="post">
        <p>
            <label for="mail">Votre adresse mail</label>
            <input type="text" name="mail" id="mail">
        </p>
        <button class="btn btn-primary">Me renvoyer un nouveau mot de passe</button>
        <a class="btn btn-danger"
           href="{{ path('app_login') }}">Retourner à
            la page de connexion</a>
    </form>
{% endblock %}
