{% extends 'base.html.twig' %}

{% block title %}Edit profil{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <h1>Edit profil</h1>

    {{ form_start(userForm) }}

    {{ form_widget(userForm) }}

    <button type="submit" class="btn">Register</button>
    {{ form_end(userForm) }}
{% endblock %}
