{% extends 'base.html.twig' %}

{% block title %}Créer une sortie{% endblock %}

{% block body %}

    <h1>Proposer une sortie</h1>

    {{ form_start(sortieForm) }}

    {{ form_widget(sortieForm) }}

    <button type="submit" class="btn">Ajouter</button>
    {{ form_end(sortieForm) }}
{% endblock %}