{% extends 'base.html.twig' %}

{% block title %}Créer une sortie{% endblock %}

{% block body %}

    <h1>Proposer une sortie</h1>

    {{ form_start(sortieForm) }}

    {{ form_widget(sortieForm) }}

    <a href="{{ path('sortie_lieu') }}">Ajouter un lieu</a>

    <button type="submit" class="btn">Ajouter la sortie</button>
    {{ form_end(sortieForm) }}


{% endblock %}