{% extends 'base.html.twig' %}

{% block title %}Créer une sortie{% endblock %}

{% block body %}

    <h1>Proposer une sortie</h1>

    {{ form_start(registrationForm) }}

    {{ form_widget(registrationForm) }}

    <button type="submit" class="btn">Register</button>
    {{ form_end(registrationForm) }}
{% endblock %}