/*
header {
    color : teal;
    font-weight: bold;
}

header h1 {
    font-family: 'Mountains of Christmas', cursive;
    font-size: 3em;
}
*/
body {
    padding: 1rem;
    width: 98vw;
}
/*
input {
    display: block;
    width: 40%;
    font-size: 1em;
    line-height: 2em;
    margin-bottom: 2em;
    border: none;
    border-bottom: 2px solid;
}

*/

.flex-block {
    display: flex;
    flex-flow: row wrap;
    align-items: start;
    margin: 1em;

}

.half-block {
    display: table-column;
    width: 48%;
}

.form div {
    display: flex;
    flex-direction: column;
    ms-flex-direction: row;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

button a {
    display: inline;
    flex-direction: column;
    width: 70%;
    margin: 0.5em;
    text-decoration: none;
    color: black;
}


/**button {
    display: block;
    margin: 0 auto;
    line-height: 2em;
    padding: 0 20px;
    background: teal;
    letter-spacing: 2px;
    transition: .2s all ease-in-out;
    outline: none;
    border: 1px solid rgba(0,0,0,1);
    box-shadow: 3px 3px 1px #95a4ff, 3px 3px 1px 1px rgba(0,0,0,1);
}*/

    /*
    footer p {
        color: #f2f2f2;
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 2em;
        margin-left: 1em;
    }

     */

.ulNav {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: teal;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    font-size: 1rem;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: turquoise;
    color: black;
}


/* Add a color to the active/current link */
.topnav a:active {
    background-color: #04dbde;
    color: darkgray;
}

.currentLink {
    background-color: #de04da;
    color: black;
}

/*
.bodyTitles {
    font-family: 'Indie Flower', cursive;
}

.flash {
    font-size : 1em;
    font-style: oblique;
    color: teal;
}

.wishesList {
    max-width:1300px;
    width:80%;
    height: auto;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    justify-content: center;
    grid-gap: 10px;

}

.card {
    width: auto;
    height: auto;
    border: 3px solid teal;
    padding: 0.5em;
    font-size: 1.2em;
    font-family: 'PT Sans Narrow', sans-serif;
}

.middleBlock {
    display: flex;
    margin: 10%;
    padding: 1em;
}

.noDecoration{
    text-decoration: none;
    color:black;
}

.block {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 1em;
    margin-top: 2em;
}

.bg-color {
    color: #f2f2f2;
    background-color: teal;
}

.border-color{
    padding: 1em;
    border: solid 5px teal;
    border-radius: 5px;
}

.button {
    display: inline-flex;
    justify-content: space-around;
    margin: 0 auto;
    line-height: 2em;
    padding: 0 20px;
    background: teal;
    letter-spacing: 2px;
    transition: .2s all ease-in-out;
    outline: none;
    border: 1px solid rgba(0,0,0,1);
    box-shadow: 3px 3px 1px #95a4ff, 3px 3px 1px 1px rgba(0,0,0,1);
}

.footer{
    background-color: teal;
    position: fixed;
    width: 100vw;
    height: 3rem;
    bottom: 0;
}



/*
CSS rules to specify families

font-family: 'Barriecito', cursive;
font-family: 'Freckle Face', cursive;
font-family: 'Fredoka One', cursive;
font-family: 'Indie Flower', cursive;
font-family: 'Mountains of Christmas', cursive;
font-family: 'Frijole', cursive;
font-family: 'PT Sans Narrow', sans-serif;
*/