{% extends 'base.html.twig' %}

{% block title %}Gérer les users{% endblock %}
{% block stylesheets %}<link rel="stylesheet" href="{{ asset('styles/style_flxgrd.css') }}">{% endblock %}

{% block body %}

    <h1>Gérer les users</h1>

    <form method="post">

        <div class="flex-row">
            <div class="block">
                <div class="tableau">
                    {% if is_granted("ROLE_ADMIN") %}
                    <div class="tableau-villes-admin">
                        {% else %}
                        <div class="tableau-villes">
                            {% endif %}
                        <div><strong>Nom</strong></div>
                        <div><strong>Prenom</strong></div>
                        {% if is_granted("ROLE_ADMIN") %}
                            <div><strong>Actif</strong></div>
                        {% endif %}
                        </div>
                    </div>
                        {% if is_granted("ROLE_ADMIN") %}
                        <div class="tableau-villes-admin">
                            {% else %}
                            <div class="tableau-villes">
                                {% endif %}
                                {% for user in users %}
                                    <div><span>{{ user.pseudo }}</span></div>
                                    <div><span>{{ user.mail }}</span></div>
                                    {% if is_granted("ROLE_ADMIN") %}
                                        <div class="block-case">
                                            <label for="actif">Actif ? </label>
                                            <input type="checkbox" id="actif"
                                                   {% if (user.actif == 1) %}
                                                       checked
                                                   {% endif %}
                                                   name="{{user.id}}" value="1">
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                </div>
            </div>
        </div>
            <div>
                <button class="btn-sortie" type="submit" >Mettre à jour</button>
            </div>
    </form>


{% endblock %}